@media screen and (max-width :1350px) {
    th {
        padding: 2px 2px !important;
        background-color: #ffffff;
    }
}

@media screen and (max-width :1200px) {
    th {
        padding: 0px !important;
        font-size: 15px !important;
    }

    td {
        height: 0 !important;
        min-height: 0px !important;
        width: 0 !important;
        font-size: 15px !important;

    }
}


table {
    background-color: rgb(253, 253, 253);
    width: 100%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    color: rgb(54, 53, 53);
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr,
td,
table,
th {
    border: 1px solid gray;
    text-align: center;
    border-radius: 5px;
}

td {
    height: 40px;
    min-height: 40px;
    width: 200px;
}

th {
    padding: 30px 20px;
    position: relative;
    font-size: 18px;
    width: auto;
}

.sort-selection {
    cursor: pointer;
    width: 100%;
    background-color: #fffbfb;
    text-align: center;
}

#sortable-row {
    cursor: pointer;
}

#status-green {
    background-color: #BDE7BD;
    cursor: pointer;
}

#status-red {
    background-color: #FFB6B3;
    cursor: pointer;
}

h1 {
    background-color: #00a5ea;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 40px;
}

.sort-selection div:hover {
    background-color: rgb(192, 238, 238);
    text-decoration: underline;
}